body {
    padding: 30px 0;
}

.form-group {
    position: relative;
}

.form-control {
    border-color: #E9EBEC;
    color: #4D5059;
}

#datePicker {
    padding-left: 40px;
}

.input-group-addon {
    position: absolute;
    top: 5px;
    height: 100%;
    background: none;
    border: none;
    width: auto;
}

.datepicker .glyphicon {
    top: -4px;
    color: #97A3AB;
    font-size: 20px;
}

form input,
form select {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

#spinner {
    padding-right: 30px;
}

.spinner .input-group-addon {
    right: 0;
    top: 0;
}

.spinner a {
    position: absolute;
    right: 5px;
    color: #97A3AB;
    font-size: 15px;
}

.spinner .top {
    top: 5px;
}
.timeEntry-control {
    position: absolute;
    z-index: 900000;
    right: 15px;
    top: 6px;
    cursor: pointer;
    display: none !important;
}

.bootstrap-timepicker:hover .timeEntry-control{
    display: inline-block !important;
}

.spinner .top:after {
    position: absolute;
    content: '';
    width: 20px;
    margin: auto;
    height: 1px;
    background: #E9EBEC;
    right: -100%;
    left: -100%;
    bottom: 0px;
}

.spinner .bottom {
    bottom: 5px;
}

.select-box select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff url(../images/caret.png) no-repeat 95% center;
    background-size: 15px;
}

.popup {
}

.popup-title {
    background: #CED7DC;
    padding: 15px 40px;
    margin-bottom: 2px;
}

.popup-title h4 {
    color: #676E74;
}

.popup-content {
    background: #E9EBEC;
    padding: 5% 20%;
}

.popup-content label {
    color: #505F70;
}

.popup-content .form-control {
    border: 2px solid #CFCED2;
}

.popup-content .form-group {
    clear: both;
    overflow: hidden;
}

.popup-content .pull-right {
    padding-right: 0;
}

.btn-group {
    width: 100%;
}

.popup-content button {
    background: #505F70;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-right: 40px;
}

.popup-content a {
    color: #505F70;
    line-height: 40px;
}

.popup-content input,
.popup-content select {
    font-size: 16px;
}

@media all and (max-width: 767px) {
    .popup-title {
        padding: 10px 20px;
    }

    .popup-content {
        padding: 5% 10%;
    }
}



.ag-root ::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em
}

.ag-root ::-webkit-scrollbar-button {
    background: transparent;
}

.ag-root ::-webkit-scrollbar-track-piece {
  height: 100%;
  margin: 0 auto;
  width: 3px;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  
}

.ag-root ::-webkit-scrollbar-thumb {
  transition: 0.5s all;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  background: #fff;
  
  background: rgba(255, 255, 255, 0.4);
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
}



.triangleUp {
  position: absolute;
    z-index: 900000;
    right: 19px;
    top: 6px;
    cursor: pointer;
    color:#ccc;
    font-size:12px;
    display:inline-block;
}

.triangleDown {
  position: absolute;
    z-index: 900000;
    right: 19px;
    top: 15px;
    cursor: pointer;
     color:#ccc;
    display:inline-block;
    font-size:12px;
}
.triangleCropUp {
  top: 33px !important;
}
.triangleCropDown {
  top: 41px !important;
}
datalist{ height: 65px !important;
    line-height: 29px !important;
    list-style: outside none none !important;
    overflow: auto!important;}
.boxtype ul#listValue li{
    padding: 10px;
   font-size: 14px;
   clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;

    white-space: nowrap;
}
.fiterbox{width:94.5%;}
.padnone{padding:0px }
.boxtype ul#listValue li.active{ 
  background-color: #428bca;
    color: #fff;
    outline: 0 none;
    text-decoration: none;}
.boxtype ul#listValue {
   background: #fff none repeat scroll 0 0 !important;
   padding-left: 0;
   max-height: 218px !important;
   height: auto !important;
   list-style: outside none none !important;
    position: absolute !important;
    z-index: 99998 !important;
    top: 39px !important;
    width: 90.5% !important;
  
    height: 100px;
    overflow-y: auto;
    overflow-x:  auto;
   

}

.boxtype ul#listValue li:hover,#browsers option:hover{
color:red;
background:#f5f5f5 

}
.boxtype ul#listValue li.active:hover{
  color:red;
background:#428bca 
 }




